<!DOCTYPE html>
<html>
  <head>
    <title>Chiaki bot{% if title is not empty %} - {{ title }}{% endif %}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
