{
    "clientId": "",
    "clientSecret": "",
    "token": "",
    "uris": {
        "auth": "",
        "token": "",
        "revoke": "",
        "base": "",
    },
    "dbname": "",
    "daily": 0
}